*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
:root{
    --darkblue:rgb(0, 0, 50);
    --lightblue:rgb(170, 170, 252);
}
body{
    background: var(--lightblue);
}
.container{
    height: 94vh;
    max-width: 1400px;
    margin: auto;
}
.student-zone{
    display: flex;
    gap: 10px;
    height: 100%;
    
}
.sidebar{
    height: 100%;
    background: var(--darkblue);
    color: white;
    padding: 20px;
    margin: 5px auto;
    border-radius: 5px;
    
}
.sidebar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 150px;
}
.sidebar ul li{
    padding: 5px;
    color: var(--darkblue);
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    transition: all .5 ease-in-out;

}
.sidebar ul li a{
    text-decoration: none;
    color: white;
}
.sidebar ul li.active {
    background: white;
    color: var(--darkblue);
    border-radius: 10px;
    transition: all .5 ease-in-out;
    position: relative;
}
.sidebar ul li.active a{
    /* background: white; */
    color: var(--darkblue);
    font-weight: 600;
}
.sidebar ul li.active::after{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    background: white;
    right: -44px;
    top: 0;
    transform: rotateZ(45deg);
    z-index: 2;
}
.content-div{
    background: white;
    width: 100%;
    padding: 2%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-top: 5px;
    border-radius: 5px;
    overflow-y: scroll;
    height: 100%;
    z-index: 1;
}

/* ============= Certificate Page Css =============== */
.certificate-con{
    width: 100%;
    /* border: 1px solid green; */
    height: 100%;
    display: flex;
    justify-content: center;
    /* background: cyan; */
}
.certificate{
    position: relative;
    width: 70%;
    /* border: 2px solid red; */
    /* background: url('./certificate/certificatebg.jpg') no-repeat; */
    /* background-size: cover; */
    
}
.certificate .certificate-bg{
    max-width:100%;

    margin: auto;
    position: absolute;
    top: 0;
    z-index: -2;
}
.certificate-bg img{
    width: 100%;
}
.certificate-data{
    display: flex;
    flex-direction: column;
    padding: 30px 10%;
    align-items: center;
    justify-content: center;
    /* height: 30%; */
    width: 100%;
    border: 2px solid red;
    margin-top: 30%;
}
.certificate-date{
    display: inline-block;
    bottom: 5%;
}



